<a [routerLink]="['/']" class="button" >XedarT</a>

<div class=''>
    <a [routerLink]="['/order']" routerLinkActive="router-link-active" class="button fancy-button">Buy</a>
    <a [routerLink]="['/order']" routerLinkActive="router-link-active" class="button fancy-button">Sell</a>
</div>

<div class=''>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="button fancy-button">Login</a>
    <a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="button fancy-button">SignUp</a>
</div>